doctype html
html
    head
        block imports
    body
        nav(class="navbar navbar-expand-sm navbar-dark bg-dark")
            a(class="navbar-brand" href="/") Steven Bucaille
            div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
                div.navbar-nav
                    a(class="nav-item nav-link" href="/me") Experiences
                    a(class="nav-item nav-link" href="/restlindholmen") RestLindholmen
        block content
