doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/Classes/init.js')
        script(src='/javascripts/Exceptions/Exceptions.js')
        script(src='/javascripts/ApiWrappers/ApiWrapper.js')
        script(src='/javascripts/Classes/ClassDiagramClasses/Entity.js')
        script(src='/javascripts/Classes/ClassDiagramClasses/Diagram.js')
        script(src='/javascripts/Classes/ClassDiagramClasses/Class.js')
        script(src='/javascripts/Classes/ClassDiagramClasses/Attribute.js')
        script(src='/javascripts/Classes/ClassDiagramClasses/Method.js')
        script(src='/javascripts/Classes/ClassDiagramClasses/MethodParam.js')
        script(src='/javascripts/Classes/ClassDiagramClasses/Association.js')
        script(src='/javascripts/Classes/ClassDiagramClasses/AssociationEnd.js')
        script(src='/javascripts/Classes/ClassDiagramClasses/Dependency.js')
        script(src='/javascripts/Classes/ClassDiagramClasses/Realization.js')
        script(src='/javascripts/Classes/ClassDiagramClasses/Generalization.js')
        script(src='/javascripts/Classes/UMLProjectMetaDataClasses/UMLFile.js')
        script(src='/javascripts/Classes/UMLProjectMetaDataClasses/Commit.js')
        script(src='/javascripts/Classes/UMLProjectMetaDataClasses/Repository.js')
        script(src='/javascripts/Classes/UMLProjectMetaDataClasses/People.js')
        script(src='/javascripts/Classes/UMLProjectMetaDataClasses/User.js')
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    body
        block content
