doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/Classes/init.js')
        script(src='/javascripts/Exceptions/Exceptions.js')
        //script(src='/javascripts/Entity.js')
        script(src='/javascripts/ApiWrappers/ApiWrapper.js')
        script(src='/javascripts/ApiWrappers/ClassWrapper.js')
        script(src='/javascripts/ApiWrappers/AttributeWrapper.js')
        script(src='/javascripts/ApiWrappers/DiagramWrapper.js')
        //script(src='/javascripts/Classes/Diagram.js')
        //script(src='/javascripts/Classes/Class.js')
        script(src='/javascripts/Classess/Attribute.js')
        script(src='/javascripts/Classes/Method.js')
        script(src='/javascripts/Classes/MethodParam.js')
        script(src='/javascripts/Classes/Association.js')
        script(src='/javascripts/Classes/AssociationEnd.js')
        script(src='/javascripts/Classes/Dependency.js')
        script(src='/javascripts/Classes/Realization.js')
        script(src='/javascripts/Classes/Generalization.js')
        script(src='/javascripts/typescript/Classes/Entity.js')
        script(src='/javascripts/typescript/Classes/Class.js')
        script(src='/javascripts/typescript/Classes/Diagram.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    body
        block content
