doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/lindholmenClasses/init.js')
        script(src='/javascripts/lindholmenClasses/ApiWrapper.js')
        script(src='/javascripts/lindholmenClasses/Diagram.js')
        script(src='/javascripts/lindholmenClasses/Class.js')
        script(src='/javascripts/lindholmenClasses/Attribute.js')
        script(src='/javascripts/lindholmenClasses/Method.js')
        script(src='/javascripts/lindholmenClasses/MethodParam.js')
        script(src='/javascripts/lindholmenClasses/Association.js')
        script(src='/javascripts/lindholmenClasses/AssociationEnd.js')
        script(src='/javascripts/lindholmenClasses/Dependency.js')
        script(src='/javascripts/lindholmenClasses/Realization.js')
        script(src='/javascripts/lindholmenClasses/Generalization.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    body
        block content
